<%# path = app/views/expenses/new.html.erb %>
<div class="categories-index">
  <div class="header">
    <span><a href="<%= categories_path %>" class="back-arrow">←</a></span>
    <span>ADD EXPENSE</span>
    <span><a href="<%= categories_path %>" class="back-arrow">&#128269;</a></span>
  </div>
  <%= form_for(@expense) do |f| %>
    <hr>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name", required: true %>
    </div>
    <hr>
    <div class="field">
      <%= f.number_field :amount, placeholder: "Amount", required: true %>
    </div>
    <hr>
    <div class="field-icon field-category">
      <%= f.collection_select :category_id, @categories, :id, :name, prompt: "Select a Category", required: true %>
    </div>
    
    <div class="add-category">
      <div class="add-category-border">
        <%= f.submit "SAVE", class:"add-category-link" %>
      </div>
    </div>
  <% end %>
</div>
